___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [0]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Ecommerce Purchases to Ecommerce Purchases

In [0]:
ecom = pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

In [0]:
ecom.head(3)

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

** How many rows and columns are there? **

In [0]:
#print('#colums',ecom.columns)
len(ecom.columns)

#print('#rows',ecom.index)
len(ecom.index) 

ecom.info # [10000 rows x 14 columns]

<bound method DataFrame.info of                                                 Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]>

** What is the average Purchase Price? **

In [0]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [0]:
ecom['Purchase Price'].max(), ecom['Purchase Price'].min()

(99.99, 0.0)

** How many people have English 'en' as their Language of choice on the website? **

In [0]:
sum(ecom['Language']=='en')

1098

** How many people have the job title of "Lawyer" ? **

In [0]:
sum(ecom['Job']=='Lawyer')

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Read more: [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [0]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

[link text](https://)** What are the 5 most common Job Titles? **

In [0]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [0]:
ecom[ecom['Lot']=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [7]:
ecom[ecom["Credit Card"]==4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [8]:
ecom.head(2)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73

[2 rows x 14 columns]

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [20]:
sum(ecom[ecom['CC Provider']=='American Express']['Purchase Price']>95)

39

In [23]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [31]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
Address             39 non-null object
Lot                 39 non-null object
AM or PM            39 non-null object
Browser Info        39 non-null object
Company             39 non-null object
Credit Card         39 non-null int64
CC Exp Date         39 non-null object
CC Security Code    39 non-null int64
CC Provider         39 non-null object
Email               39 non-null object
Job                 39 non-null object
IP Address          39 non-null object
Language            39 non-null object
Purchase Price      39 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

In [32]:
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index)

39

** How many people have a credit card that expires in 2025? **

In [65]:
#test alg. on one row
ecom['CC Exp Date'].iloc[0][3:]

'20'

In [53]:
#write lambda function
sum(ecom['CC Exp Date'].apply(lambda row: row[3:]=='25'))

1033

In [54]:
ecom[ecom['CC Exp Date'].apply(lambda row: row[3:]=='25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

** What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [63]:
ecom['Email'].iloc[0].split('@')[1].split('.')[0]

'yahoo'

In [74]:
ecom['Email'].apply(lambda row: row.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64